<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <title>Dashboard - CAG</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/cagp.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material.css">

    <link rel="stylesheet" href="assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="master.html" class="logo">
                    <img src="assets/img/cagp.png" width="40" height="40" alt="Logo">
                </a>
                <a href="master.html" class="logo2">
                    <img src="assets/img/cagp.png" width="40" height="40" alt="Logo">
                </a>
            </div>

            <a id="toggle_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <div class="page-title-box">
                <h3>CENTRALINDO ADI GUNA</h3>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa-solid fa-bars"></i></a>

            <ul class="nav user-menu">               

                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fa-regular fa-bell"></i> <span class="badge rounded-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-02.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added
                                                    new task <span class="noti-title">Patient appointment booking</span>
                                                </p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-03.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span>
                                                    changed the task name <span class="noti-title">Appointment booking
                                                        with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-06.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span>
                                                    added <span class="noti-title">Domenic Houston</span> and <span
                                                        class="noti-title">Claire Mapes</span> to project <span
                                                        class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-17.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span>
                                                    completed task <span class="noti-title">Patient and Doctor video
                                                        conferencing</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-13.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span>
                                                    added new task <span class="noti-title">Private chat module</span>
                                                </p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>




                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img"><img src="assets/img/profiles/avatar-21.jpg" alt="User Image">
                            <span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="index.html">Logout</a>
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="index.html">Logout</a>
                </div>
            </div>

        </div>

        <!-- side bar content-->

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
               
                    <ul class="sidebar-verticalaling
                    ">
                     
                        <li class="menu-title">
                            <span>Main</span>

                        <li class="submenu">
                            <a href="master.html"><i class="la la-dashboard"></i> <span> Dashboard</span></a>
        
                        <li class="submenu">
                            <a href="#" class="noti-dot"><i class="la la-user"></i> <span>Project</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="team-list.html">Team List</a></li>
                                <li><a href="project-list.html">Project Upload</a></li>
                                <li><a href="">Validation Progress</a></li>                                                                   
                                <li><a href="">Implentation</a></li>
                                <li><a href="job.html">Progress ATP</a></li>
                                <li><a href="-">Project Order</a></li>
                            </ul>
                        </li>
        
                        <li class="submenu">
                            <a href="#"><i class="la la-money"></i> <span> Payroll </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="salary.html"> Employee Salary </a></li>
                                <li><a href="salary-view.html"> Payslip </a></li>
                                <li><a href="payroll-items.html"> Payroll Items </a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="activities.html"><i class="la la-bell"></i> <span>Activities</span></a>
                        </li>

                        <li>
                            <a href="-"><i class="la la-box-open"></i> <span>Inventory</span></a>
                        </li>
                        
                        <li class="menu-title">
                            <span>Pages</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="la la-user"></i> <span> Profile </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="profile.html"> Employee Profile </a></li>
                                <li><a href="client-profile.html"> Client Profile </a></li>
                            
                            </ul>
                            <li>
                                <a href="users.html"><i class="la la-user-plus"></i> <span>Users</span></a>
                            </li>
                            <li>
                                <a href="settings.html"><i class="la la-cog"></i> <span>Settings</span></a>
                            </li>
                        </li> 

                    </ul>
                    
                </div>
            </div>
        </div>



        <!--Start Content-->
        <div class="page-wrapper">

            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Admin Dashboard</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                                <li class="breadcrumb-item active">User Progress Project</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">

                        <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                            <li class="nav-item"><a class="nav-link" href="">Validation Progress</a></li>
                            <li class="nav-item"><a class="nav-link" href="implementation.html">Add Progress
                                    Implementation</a></li>
                            <li class="nav-item"><a class="nav-link" href="mos.html">Add Material On Site </a></li>
                            <li class="nav-item"><a class="nav-link" href="rfs.html">Add Progress RFS </a></li>
                            <li class="nav-item"><a class="nav-link" href="atp.html">Add Progress ATP </a></li>

                    </div>

                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-regular fa-file-lines"></i></span>
                            <div class="dash-widget-info">
                                <h3>110</h3>
                                <span>Offered</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-regular fa-file-lines"></i></span>
                            <div class="dash-widget-info">
                                <h3>110</h3>
                                <span>Offered</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-solid fa-paste"></i></span>
                            <div class="dash-widget-info">
                                <h3>40</h3>
                                <span>Applied</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-solid fa-retweet"></i></span>
                            <div class="dash-widget-info">
                                <h3>374</h3>
                                <span>Visited</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-regular fa-floppy-disk"></i></span>
                            <div class="dash-widget-info">
                                <h3>220</h3>
                                <span>Saved</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card card-table">
                        <div class="card-header">
                            <h3 class="card-title mb-0">Status Progress ATP</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-nowrap custom-table mb-0" id="daftar_progress">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>System Key</th>
                                            <th>Progress Title</th>
                                            <th>Team Name</th>                                           
                                            <th class="text-center">AQC</th>
                                            <th class="text-center">CQC</th>
                                            <th class="text-center">PQC</th>
                                            <th class="text-center">FOP</th>
                                            <th class="text-center">ROH</th>
                                            <th class="text-center">Progress Status</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-3.7.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/morris/morris.min.js"></script>
    <script src="assets/plugins/raphael/raphael.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/greedynav.js"></script>
    <script src="assets/js/layout.js"></script>
    <script src="assets/js/theme-settings.js"></script>

    <script src="assets/js/app.js"></script>

    <script>
        window.onload = function() {
            getDaftarProgressATP();
        };

        var statusATP = ['CQC_approve_date', 'PQC_approve_date', 'AQC_approve_date', 'FOP_approve_date', 'ROH_approve_date'];
        var tableCols = [
            'system_key', 
            'progress_title', 
            'team_name', 
            'CQC_approve_date', 
            'PQC_approve_date', 
            'AQC_approve_date', 
            'FOP_approve_date', 
            'ROH_approve_date', 
            'status'
        ];

        function fillTable(table_id, data)
        {
            var table = document.getElementById(table_id);
            var body = table.tBodies[0];
            var idx = 1;

            $.each(data, function(index, element) {
                var row = body.insertRow(-1);
                var num = row.insertCell(-1);
                num.innerHTML = idx++;
                
                var system_key = element["system_key"];

                $.each(element, function(key, value) {
                    if(tableCols.includes(key))
                    {
                        var cell = row.insertCell(-1);

                        if(statusATP.includes(key))
                        {
                            cell.innerHTML = `<div class="action-label">
                                                <p class="btn btn-white btn-sm btn-rounded" aria-expanded="false" onclick="updateStatusValidasi('`+ key +`','`+ system_key +`')">
                                                    <i class="fa-regular fa-circle-dot text-`+(value != null ? 'success' : 'danger')+`"></i>
                                                    `+ (value != null ? "Approved" : "Cancelled") +`
                                                </p>
                                            </div>`;
                        }
                        else
                        {
                            cell.innerHTML = value;
                        }
                    }
                });

                var endCell = row.insertCell(-1);
                endCell.innerHTML = `<div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                data-bs-target="#edit_project"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                data-bs-target="#delete_project"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                        </div>
                                    </div>`;
            });
        }

        function updateStatusValidasi(status, system_key)
        {
            postData = {'type' : status, 'system_key' : system_key,'function' : 'UpdateStatusProgressATP'};
            //alert("request dikirim!");
            $.ajax({
                url: '/ProjectKP/project/controller/ProgressATP.php',
                type: 'POST',
                data: postData,
                success: function(response) {
                    location.reload(true);
                }
            });
        }

        function getDaftarProgressATP() {
            $.get({
                url: '/ProjectKP/project/controller/ProgressATP.php?function=getProgressATPList',
                success: function(response) {
                    var responseObj = JSON.parse(response);
                    console.log(responseObj.data);

                    fillTable('daftar_progress', responseObj.data);    
                }
            });
        }
    </script>
</body>


</html>