<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <title>Dashboard - CAG</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/cagp.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material.css">

    <link rel="stylesheet" href="assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="master.html" class="logo">
                    <img src="assets/img/cagp.png" width="40" height="40" alt="Logo">
                </a>
                <a href="master.html" class="logo2">
                    <img src="assets/img/cagp.png" width="40" height="40" alt="Logo">
                </a>
            </div>

            <a id="toggle_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <div class="page-title-box">
                <h3>CENTRALINDO ADI GUNA</h3>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa-solid fa-bars"></i></a>

            <ul class="nav user-menu">               

                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fa-regular fa-bell"></i> <span class="badge rounded-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-02.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added
                                                    new task <span class="noti-title">Patient appointment booking</span>
                                                </p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-03.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span>
                                                    changed the task name <span class="noti-title">Appointment booking
                                                        with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-06.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span>
                                                    added <span class="noti-title">Domenic Houston</span> and <span
                                                        class="noti-title">Claire Mapes</span> to project <span
                                                        class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-17.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span>
                                                    completed task <span class="noti-title">Patient and Doctor video
                                                        conferencing</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="chat-block d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img src="assets/img/profiles/avatar-13.jpg" alt="User Image">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span>
                                                    added new task <span class="noti-title">Private chat module</span>
                                                </p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>




                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img"><img src="assets/img/profiles/avatar-21.jpg" alt="User Image">
                            <span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="index.html">Logout</a>
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="index.html">Logout</a>
                </div>
            </div>

        </div>

        <!-- side bar content-->

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
               
                    <ul class="sidebar-verticalaling
                    ">
                     
                        <li class="menu-title">
                            <span>Main</span>

                        <li class="submenu">
                            <a href="master.html"><i class="la la-dashboard"></i> <span> Dashboard</span></a>
        
                        <li class="submenu">
                            <a href="#" class="noti-dot"><i class="la la-user"></i> <span>Project</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="team-list.html">Team List</a></li>
                                <li><a href="project-list.html">Project Upload</a></li>
                                <li><a href="">Validation Progress</a></li>                                                                   
                                <li><a href="">Implentation</a></li>
                                <li><a href="job.html">Progress ATP</a></li>
                                <li><a href="-">Project Order</a></li>
                            </ul>
                        </li>
        
                        <li class="submenu">
                            <a href="#"><i class="la la-money"></i> <span> Payroll </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="salary.html"> Employee Salary </a></li>
                                <li><a href="salary-view.html"> Payslip </a></li>
                                <li><a href="payroll-items.html"> Payroll Items </a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="activities.html"><i class="la la-bell"></i> <span>Activities</span></a>
                        </li>

                        <li>
                            <a href="-"><i class="la la-box-open"></i> <span>Inventory</span></a>
                        </li>
                        
                        <li class="menu-title">
                            <span>Pages</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="la la-user"></i> <span> Profile </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="profile.html"> Employee Profile </a></li>
                                <li><a href="client-profile.html"> Client Profile </a></li>
                            
                            </ul>
                            <li>
                                <a href="users.html"><i class="la la-user-plus"></i> <span>Users</span></a>
                            </li>
                            <li>
                                <a href="settings.html"><i class="la la-cog"></i> <span>Settings</span></a>
                            </li>
                        </li> 

                    </ul>
                    
                </div>
            </div>
        </div>



        <!--Start Content-->
        <div class="page-wrapper">

            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Projects Upload</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                                <li class="breadcrumb-item active">Projects</li>
                            </ul>
                        </div>
                        <div class="col-auto float-end ms-auto">
                            <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#create_project"><i
                                    class="fa-solid fa-plus"></i> Input Project</a>
                            <div class="view-icons">                                
                                <a href="project-list.html" class="list-view btn btn-link active"><i
                                        class="fa-solid fa-bars"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row filter-row">
                    <div class="col-sm-2">
                        <div class="input-block mb-2 form-focus">
                            <input type="text" class="form-control floating">
                            <label class="focus-label"></label>
                        </div>
                    </div>
                  
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-success w-100"> Search </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable" id="daftar_proyek">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>System Key</th>
                                        <th>TPD-ID/Case-ID/PDT-ID</th>
                                        <th>Visit ID</th>
                                        <th>EWO/NBWO</th>                                                                               
                                        <th>Hope Name NE</th>
                                        <th>Link Tower NE</th>
                                        <th>Hop Name FE</th>
                                        <th>Link Tower FE</th>                                      
                                        <th>Detail Solution</th>
                                        <th>Project ID</th>
                                        <th>Project Name</th>
                                        <th>SOW Category</th>
                                        <th>SOW Remarks</th>
                                        <th>Project Status</th>
                                        <th>Region XL</th>
                                        <th>Area</th>
                                        <th>PIC-ALITA</th>
                                        <th>WO Date</th>                                      
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td>1</td>                                         
                                      
                                        <td>CAG-0001</td>
                                        <td>TWM3489</td>                          
                                        <td>19311</td>
                                        <td>FT-2885-TRM-030-WST-149</td>
                                        <td>SUM-LA-KOT-0490/SUM-LA-KOT-0712</td>                                        
                                        <td>FT-2885-TRM-030-WST-149</td>
                                        <td>SUM-LA-KOT-0490/SUM-LA-KOT-0712</td>
                                        <td>Upgrade H2</td>  
                                        <td>PJ-001</td>
                                        <td>Alita Project</td>                                        
                                        <td>Swap Link</td>
                                        <td>Upgrade Link</td>
                                        <td>Upgrade Link H2</td>
                                        <td class="text-center">
                                            <div class="action-label">
                                                <a class="btn btn-white btn-sm btn-rounded" href="#"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa-regular fa-circle-dot text-success"></i>
                                                    Active
                                                </a>
                                            </div>
                                        </td> 
                                        <td>West</td>
                                        <td>Lampung</td>                                                                               
                                        <td>User</td>
                                        <td>30 July 2022</td>
                                        
                                                                                                                                                              
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#create_project"><i
                                                            class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" onclick="deleteConfirm('ahaha')"
                                                        data-bs-target="#delete_project"><i
                                                            class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td> -->
                                    </tr>
                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div id="create_project" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Project</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="form_buat_proyek">
                                <div class="row">
                                    <!-- <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">System Key</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div> -->
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Client</label>
                                            <select class="select" name="client" id="form_buat_client">
                                                <option>-</option>
                                                <option>ALITA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">TPD-ID/Case-ID/PDT-ID</label>
                                            <input class="form-control" type="text" name="tpd_id" id="form_buat_tpd_id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Visit ID</label>
                                            <input class="form-control" type="text" name="visit_id" id="form_buat_visit_id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">EWO/NBWO</label>
                                            <input class="form-control" type="text" name="ewo_nbwo" id="form_buat_ewo_nbwo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Hope Name NE</label>
                                            <input class="form-control" type="text" name="site_name_ne" id="form_buat_site_name_ne">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Link Tower NE</label>
                                            <input class="form-control" type="text" name="site_id_ne" id="form_buat_site_id_ne">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Hope Name FE</label>
                                            <input class="form-control" type="text" name="site_name_fe" id="form_buat_site_name_fe">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Link Tower FE</label>
                                            <input class="form-control" type="text" name="site_name_fe" id="form_buat_site_id_fe">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Detail Solution</label>
                                            <input class="form-control" type="text" name="detail_solution" id="form_buat_detail_solution">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Project Name</label>
                                            <input class="form-control" type="text" name="project_name" id="form_buat_project_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label class="col-form-label">SOW Category</label>
                                        <select class="select" name="sow_category" id="form_buat_sow_category">
                                            <option>Swap Upgrade</option>
                                            <option>Upgrade</option>
                                            <option>New Link</option>
                                            <option>Reroute</option>
                                            <option>New Link For Reroute</option>
                                            <option>Dismantle</option>
                                            <option>Dismantle For Reroute</option>
                                            <option>Add cost</option>
                                            <option>Add Work</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">SOW Remarks</label>
                                            <input class="form-control" type="text" name="sow_remarks" id="form_buat_sow_remarks">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label class="col-form-label">Project Status</label>
                                        <select class="select" name="project_status" id="form_buat_project_status">
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Region XL</label>
                                            <input class="form-control" type="text" name="region_xl" id="form_buat_region_xl">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Area</label>
                                            <input class="form-control" type="text" name="area" id="form_buat_area">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">PIC-ALITA</label>
                                            <input class="form-control" type="text" name="pic_alita" id="form_buat_pic_alita">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Submit Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" name="submit_date" id="form_buat_submit_date">
                                            </div>
                                        </div>
                                </div>
                                </div>
                                <!-- <div class="input-block mb-3">
                                    <label class="col-form-label">Description</label>
                                    <div id="editor"></div>
                                </div> -->
                                <!-- <div class="input-block mb-3">
                                    <label class="col-form-label">Upload Files</label>
                                    <input class="form-control" type="file">
                                </div> -->
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div id="edit_project" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Project</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="form_edit_proyek">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">System Key</label>
                                            <input class="form-control" type="text" name="system_key" id="form_edit_system_key">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Client</label>
                                            <select class="select" name="client" id="form_edit_client">
                                                <option>-</option>
                                                <option>ALITA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">TPD-ID/Case-ID/PDT-ID</label>
                                            <input class="form-control" type="text" name="tpd_id" id="form_edit_tpd_id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Visit ID</label>
                                            <input class="form-control" type="text" name="visit_id" id="form_edit_visit_id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">EWO/NBWO</label>
                                            <input class="form-control" type="text" name="ewo_nbwo" id="form_edit_ewo_nbwo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Hope Name NE</label>
                                            <input class="form-control" type="text" name="site_name_ne" id="form_edit_site_name_ne">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Link Tower NE</label>
                                            <input class="form-control" type="text" name="site_id_ne" id="form_edit_site_id_ne">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Hope Name FE</label>
                                            <input class="form-control" type="text" name="site_name_fe" id="form_edit_site_name_fe">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Link Tower FE</label>
                                            <input class="form-control" type="text" name="site_name_fe" id="form_edit_site_id_fe">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Detail Solution</label>
                                            <input class="form-control" type="text" name="detail_solution" id="form_edit_detail_solution">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Project Name</label>
                                            <input class="form-control" type="text" name="project_name" id="form_edit_project_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label class="col-form-label">SOW Category</label>
                                        <select class="select" name="sow_category" id="form_edit_sow_category">
                                            <option>Swap Upgrade</option>
                                            <option>Upgrade</option>
                                            <option>New Link</option>
                                            <option>Reroute</option>
                                            <option>New Link For Reroute</option>
                                            <option>Dismantle</option>
                                            <option>Dismantle For Reroute</option>
                                            <option>Add cost</option>
                                            <option>Add Work</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">SOW Remarks</label>
                                            <input class="form-control" type="text" name="sow_remarks" id="form_edit_sow_remarks">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-block mb-3">
                                        <label class="col-form-label">Project Status</label>
                                        <select class="select" name="project_status" id="form_edit_project_status">
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Region XL</label>
                                            <input class="form-control" type="text" name="region_xl" id="form_edit_region_xl">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Area</label>
                                            <input class="form-control" type="text" name="area" id="form_edit_area">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">PIC-ALITA</label>
                                            <input class="form-control" type="text" name="pic_alita" id="form_edit_pic_alita">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Submit Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" name="submit_date" id="form_edit_submit_date">
                                            </div>
                                        </div>
                                </div>
                                </div>
                                <!-- <div class="input-block mb-3">
                                    <label class="col-form-label">Description</label>
                                    <div id="editor"></div>
                                </div> -->
                                <!-- <div class="input-block mb-3">
                                    <label class="col-form-label">Upload Files</label>
                                    <input class="form-control" type="file">
                                </div> -->
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal custom-modal fade" id="delete_project" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="" class="btn btn-primary continue-btn" onclick="deleteProyek()">Delete</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="" data-bs-dismiss="modal"
                                            class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

   

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-3.7.0.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/jquery.slimscroll.min.js"></script>

    <script src="assets/plugins/morris/morris.min.js"></script>
    <script src="assets/plugins/raphael/raphael.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/greedynav.js"></script>

    <script src="assets/js/layout.js"></script>
    <script src="assets/js/theme-settings.js"></script>

    <script src="assets/js/app.js"></script>
    <script>
        window.onload = function() {
            getDaftarProyek();
        }

        // Daftar kolom pada tabel
        var tableCols = [
            'system_key', 
            'tpd_id',
            'visit_id',
            'ewo_nbwo',
            'site_name_ne',
            'site_id_ne',
            'site_name_fe',
            'site_id_fe',
            'detail_solution',
            'project_id',
            'project_name',
            'sow_category',
            'sow_remarks',
            'project_status',
            'region_xl',
            'area',
            'pic_alita',
            'wo_date'
        ];

        // Mengambil daftar proyek
        function getDaftarProyek()
        {
            var formData = {'function' : 'getProyekList', 'columns' : JSON.stringify(tableCols)};

            $.ajax({
                url: '/ProjectKP/project/controller/Proyek.php',
                method: 'post',
                data: formData,
                success: function(r) {
                    var responseObj = JSON.parse(r);
                    fillTable('daftar_proyek', responseObj.data);
                },
                error: function(r) {
                    var responseObj = error.responseJSON || JSON.parse(error.responseText);
                    alert(responseObj.message || "Terjadi Kesalahan..");
                },
            });
        }

        // Mengisi tabel dengan data proyek
        function fillTable(table_id, data) 
        {
            var table = document.getElementById(table_id);
            var body = table.tBodies[0];
            var idx = 1;
            
            $.each(data, function(index, element) 
            {
                var row = body.insertRow(-1);
                var num = row.insertCell(-1);
                num.innerHTML = idx++;

                tableCols.forEach((key) => 
                {
                    var cell = row.insertCell(-1);
                    var value = element[key];
                    
                    if(key == "project_status") 
                    {
                        cell.innerHTML = `<div class="action-label">
                                            <p class="btn btn-white btn-sm btn-rounded" aria-expanded="false">
                                                <i class="fa-regular fa-circle-dot text-`+(value == 'Active' ? 'success' : 'danger')+`"></i>
                                                `+ (value == 'Active' ? 'Active' : 'Inactive') +`
                                            </p>
                                        </div>`;
                    }
                    else
                    {
                        cell.innerHTML = value;
                    }
                });

                var endCell = row.insertCell(-1);
                endCell.innerHTML = `<div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" 
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" onclick="fillFormData('`+element["system_key"]+`')"
                                                data-bs-target="#edit_project"><i
                                                    class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" onclick="deleteConfirm('`+element["system_key"]+`')"
                                                data-bs-target="#delete_project"><i
                                                    class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                        </div>
                                    </div>`;
            });
        }

        // Fungsi submit form input proyek
        $("#form_buat_proyek").submit(function (e) {
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            formData.append('function', 'CreateProyek');

            $.ajax({
                url: '/ProjectKP/project/controller/proyek.php',
                method: 'post',
                processData: false,
                contentType: false,
                cache: false,
                data: formData,
                success: function(r) {
                    alert("Proyek berhasil di submit!");
                    location.reload(true);
                },
                error: function(r) {
                    alert("Terjadi kesalahan..");
                }
            });
        });

        // Daftar input pada form
        var formColumns = [
            'system_key',
            'client',
            'tpd_id',
            'ewo_nbwo',
            'site_id_ne',
            'site_name_ne',
            'site_id_fe',
            'site_name_fe',
            'project_name',
            'project_status',
            'sow_category',
            'sow_remarks',
            'detail_solution',
            'region_xl',
            'area',
            'wo_status',
            'wo_date',
            'pic_alita',
            'visit_id',
            'submit_date'
        ];

        // Isi form input dengan data proyek dengan id
        function fillFormData(id) {
            $.get({
                url: '/ProjectKP/project/controller/proyek.php?function=getProyekById&system_key='+id,
                success: function(r) {
                    let response = $.parseJSON(r);
                    data = response.data;

                    formColumns.forEach((attr) => {
                        $("#form_edit_"+attr).val(data[attr]);
                    });
                }
            });
        }

        // Fungsi submit form edit proyek
        $("#form_edit_proyek").submit(function (e) {
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            formData.append('function', 'EditProyek');


            $.ajax({
                url: '/ProjectKP/project/controller/proyek.php',
                method: 'post',
                processData: false,
                contentType: false,
                cache: false,
                data: formData,
                success: function(r) {
                    var resp = $.parseJSON(r);
                    alert(resp.message);
                    location.reload(true);
                },
                error: function(r) {
                    alert("Terjadi kesalahan..");
                }
            })
        });

        // Hapus Proyek
        var id_to_delete = '';

        function deleteConfirm(id) {
            id_to_delete = id;
        }

        function deleteProyek()
        {
            var formData = {"system_key" : id_to_delete, "function" : "DeleteProyek"};

            $.ajax({
                url: "/ProjectKP/project/controller/proyek.php",
                method: 'post',
                // processData: false,
                // contentType: false,
                // cache: false,
                data: formData,
                success: function(r) {
                    var resp = $.parseJSON(r);
                    alert(resp.message);
                    location.reload(true);
                },
                error: function(r) {
                    alert("Terjadi kesalahan!");
                },
            });
        }
    </script>
</body>


</html>